---
import AstroTabs from "@/components/AstroTabs";
import { sanityClient } from "sanity:client";
import BaseLayout from "../layouts/BaseLayout.astro";

const fictionBC = await sanityClient.fetch(
  `*[_type == "book" && defined(slug) && literaryGenre == "Fiction" && bc] | order(publishYear desc) {
  ..., authors[]->
  }`
);

const fictionAD = await sanityClient.fetch(
  `*[_type == "book" && defined(slug) && literaryGenre == "Fiction" && (!bc || !defined(bc))] | order(publishYear asc) {
  ..., authors[]->
  }`
);

const nonfictionBC = await sanityClient.fetch(
  `*[_type == "book" && defined(slug) && literaryGenre == "Nonfiction" && bc] | order(publishYear desc) {
  ..., authors[]->
  }`
);

const nonfictionAD = await sanityClient.fetch(
  `*[_type == "book" && defined(slug) && literaryGenre == "Nonfiction" && (!bc || !defined(bc))] | order(publishYear asc) {
  ..., authors[]->
  }`
);

const dramaBC = await sanityClient.fetch(
  `*[_type == "book" && defined(slug) && literaryGenre == "Drama" && bc] | order(publishYear desc) {
  ..., authors[]->
  }`
);

const dramaAD = await sanityClient.fetch(
  `*[_type == "book" && defined(slug) && literaryGenre == "Drama" && (!bc || !defined(bc))] | order(publishYear asc) {
  ..., authors[]->
  }`
);

const poetryBC = await sanityClient.fetch(
  `*[_type == "book" && defined(slug) && literaryGenre == "Poetry" && bc] | order(publishYear desc) {
  ..., authors[]->
  }`
);

const poetryAD = await sanityClient.fetch(
  `*[_type == "book" && defined(slug) && literaryGenre == "Poetry" && (!bc || !defined(bc))] | order(publishYear asc) {
  ..., authors[]->
  }`
);

const fiction = fictionBC.concat(fictionAD);
const nonfiction = nonfictionBC.concat(nonfictionAD);
const drama = dramaBC.concat(dramaAD);
const poetry = poetryBC.concat(poetryAD);

let tabContent = [fiction, nonfiction, drama, poetry];
---

<BaseLayout>
  <div class="p-5 flex flex-col justify-center">
    <h1>Library</h1>

    <AstroTabs
      client:load
      title="Fiction"
      tabNames={["Fiction", "Non-Fiction", "Drama", "Poetry"]}
      tabContent={tabContent}
    />

    <div class="flex justify-center py-5 mt-5">
      <a
        href="/"
        class="m-0 border-1 px-2.5 py-1 w-40 text-center hover:bg-black hover:text-slate-50"
        >Back to Home</a
      >
    </div>
  </div>
</BaseLayout>
